# Node.js (Frontend)
node_modules/
dist/
build/
.env

# Java (Backend)
target/
*.log
*.class
*.jar
*.war
*.iml

# OS/IDE files
.DS_Store
.idea/
.vscode/
*.swp

# Others
coverage/
.env.local
.env.production
/.metadata/
